<div
    class="test"
    data-slides='[
        "assets/uploads/homeslide1.jpg",
        "assets/uploads/wonder.jpg",
        "assets/uploads/homeslide1.jpg"
    ]'> 

<div class="">
            <nav class="p1">
                <div class="container">
                    <div class="navbar-header logo">
                        <a class="navbar-brand p0" href="#"><img class="img-responsive" src="assets/images/logo.png" /></a>
                    </div>
                    <div class="no_bg">
                        
                        <ul class="nav navbar-nav navbar-right c_nav2">
                            <li><a class="p0 text-right" href="#"><strong>SATURDAY, 10:24AM</strong><br/><span>APRIL 1, 2018</span></a></li>
                        </ul>
                    </div>

                </div>
            </nav>

            
        </div>



<!--header end-->




<div class="home-cat">
<div class="owl-carousel owl-theme">
  
  <li class="main-red" routerLink="/browse">
      <div class="hidden-list">
    <div class="movie-sect">
        <h2>NEW RELEASES</h2>
        <div class="movie-thumhid"><img src="assets/uploads/tomb.jpg"></div>
        <div class="movie-thumhid"><img src="assets/uploads/pacific.jpg"></div>
        <div class="movie-thumhid"><img src="assets/uploads/rampace.jpg"></div>
        <div class="movie-thumhid"><img src="assets/uploads/wolf.jpg"></div>
        <div class="movie-thumhid"><img src="assets/uploads/jurassic.jpg"></div>
        <div class="movie-thumhid"><img src="assets/uploads/equi.jpg"></div>
    </div>
    <i class="fa fa-angle-up" aria-hidden="true">
   </i>
</div> SEARCH </li>
<!--- list end-->


  <li class="main-red" routerLink="/liveTV"> <div class="hidden-list">
    <div class="movie-sect">
<h2>NEW RELEASES</h2>
<div class="movie-thumhid"><img src="assets/uploads/tomb.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/pacific.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/rampace.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/wolf.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/jurassic.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/equi.jpg"></div>
</div>
    <i class="fa fa-angle-up" aria-hidden="true"></i>

</div>TV GUIDE </li>
<!--- list end-->

  <li class="main-red" routerLink="/liveTV"><div class="hidden-list" >
<div class="movie-sect">
<h2>NEW RELEASES</h2>
<div class="movie-thumhid"><img src="assets/uploads/tomb.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/pacific.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/rampace.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/wolf.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/jurassic.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/equi.jpg"></div>
</div>

    <i class="fa fa-angle-up" aria-hidden="true"></i>

</div> LIVE TV </li>
<!--- list end-->


  <li class="main-red" routerLink="/movies"><div class="hidden-list" >
    
<div class="movie-sect">
<h2>NEW RELEASES</h2>
<div class="movie-thumhid"><img src="assets/uploads/tomb.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/pacific.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/rampace.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/wolf.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/jurassic.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/equi.jpg"></div>
</div>
<i class="fa fa-angle-up" aria-hidden="true"></i>
</div> MOVIES </li>
<!--- list end-->


  <li class="main-red" routerLink="/animes"><div class="hidden-list">
    <div class="movie-sect">
<h2>NEW RELEASES</h2>
<div class="movie-thumhid"><img src="assets/uploads/tomb.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/pacific.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/rampace.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/wolf.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/jurassic.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/equi.jpg"></div>
</div>
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div> KIDS </li>
<!--- list end-->

  <li class="main-red" routerLink="/favourites"><div class="hidden-list">
    <div class="movie-sect">
<h2>NEW RELEASES</h2>
<div class="movie-thumhid"><img src="assets/uploads/tomb.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/pacific.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/rampace.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/wolf.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/jurassic.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/equi.jpg"></div>
</div>
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div> FAVORITES </li>
<!--- list end-->


  <li class="main-red" routerLink="/settings"><div class="hidden-list">
    <div class="movie-sect">
<h2>NEW RELEASES</h2>
<div class="movie-thumhid"><img src="assets/uploads/tomb.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/pacific.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/rampace.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/wolf.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/jurassic.jpg"></div>
<div class="movie-thumhid"><img src="assets/uploads/equi.jpg"></div>
</div>
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div> SETTING </li>
<!--- list end-->


</div>

</div>



</div>

