<div>
      <div class="selection-pg">
      <div class="">
          <nav class="p1">
              <div class="container">
                  <div class="navbar-header logo">
                      <a class="navbar-brand p0" href="#"><img class="img-responsive" src="assets/images/logo.png" /></a>
                  </div>
                  <div class="no_bg">
                      
                      <ul class="nav navbar-nav navbar-right c_nav2">
                          <li><a class="p0 text-right" href="#"><strong>SATURDAY, 10:24AM</strong><br/><span>APRIL 1, 2018</span></a></li>
                      </ul>
                  </div>
              </div>
          </nav>
        </div>
      </div>



      <!--header end-->


   <div class="container">

     
      <div class="row">
         
          <div class="col-sm-4 col-md-4 col-xs-12"> 
              <p class="new-label">NEW</p>
              <img class="img-responsive" src="assets/images/select-wonder.jpg">
          </div>
          

          <div class="col-sm-8 col-md-8 col-xs-12"> 
              <div class="tabs-sect">
                <h1 class="tab-title">Wonder Women</h1>
                <p class="cat-rate"><span>2017  .  141min  .  <a href="#">Action</a> / <a href="#">Adventure</a> / <a href="">Superhero</a>  .  </span>  <img class="img-responsive" src="assets/images/imdb.png">  .  <img class="img-responsive rate" src="assets/images/rating.png"></p>

                <p class="tabs-quality"><a href="#">720P</a> <a href="#">1080P</a> <a href="#">4k</a> <a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></p>
              </div>
          </div>


      <!--tabs section--
      <div class="w3-bar w3-black">
        <ul>
            <li class="w3-bar-item w3-li" onclick="openCity('London')">Description</li>
            <li class="w3-bar-item w3-li" onclick="openCity('Paris')">Trailer</li>
            <li class="w3-bar-item w3-li" onclick="openCity('Tokyo')">Director</li>
            <li class="w3-bar-item w3-li" onclick="openCity('Cast')">Cast</li>
          <ul>
      </div>
      -->

      
      <div id="London" class="w3-container city">

        <p>Diana, princess of the Amazons, trained to be an unconquerable 
            warrior. Raised on a sheltered island paradise, when a pilot crashes 
            on their shores and tells of a massive conflict raging in the outside 
            world, Diana leaves her home, convinced she can stop the threat. 
            Fighting alongside man in a war to end all wars, Diana will discover 
            her full powers and her true destiny.</p>
      </div>

     
      <div id="Paris" class="w3-container city" style="display:none">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/1Q8fG0TtVAY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

      
      <div id="Tokyo" class="w3-container city" style="display:none">
        <h2>Director</h2>
        <p>Lorem Ipsum Dolor Simit....</p>
      </div>

      <div id="Cast" class="w3-container city" style="display:none">
        <h2>Cast</h2>
        <p>Lorem Ipsum Dolor Simit....</p>
      </div>
       
      <button class="watch-btn">Watch Now</button>

      <!--
      </div>


      <!--tabs section end--

    </div>-->
  </div>
</div>

    <script>
        function openCity(cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";  
            }
            document.getElementById(cityName).style.display = "block";  
        }
    </script>
</div>